* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.mceEditor * {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;
}
html, body {
	background-color: #333339;
}
body {
	font-size: 0.85em;
	font-family: arial, sans-serif;
}

h2 {
	font-size: 1.5em;
}

#wrap {
	width: 100%;
	margin: 0 auto;
	padding: 10px 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}


#unit-main {
	width: 75%;
}


.sub-nav {
	background-color: #007CBA;
	color: #fff;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

	body .pure-menu .sub-nav-item a {
		padding-left: 2em;
	}
	#unit-navigation {
		min-width: 150px;
		width: 20%;
	}
	#navigation ul {
		margin: 0;
		padding: 0;
	}
	#unit-main {
		width: 80%;
	}

	li.nav-item a.has-children {
		-moz-border-radius: 3px 3px 0 0;
		-webkit-border-radius: 3px 3px 0 0;
		-ms-border-radius: 3px 3px 0 0;
		border-radius: 3px 3px 0 0;
	}


a.fake-button {
	background-color: #0088CC;
	color: #fff;
	padding: 10px 20px;
}

button.yui3-button.button-negative {
	background-color: #eee;
	color: #000;
	padding: 10px 20px;
}
.inp_wrapper {
	padding-right: 5px;
	margin-bottom: 8px;
}
.inp-text {
	padding: 8px 10px;
	width: 55%;
	display: block;
	border: 1px solid #888;
	-webkit-box-shadow: inset 1px 1px 2px 1px rgba(20, 20, 40, 0.25);
    -moz-box-shadow: inset 1px 1px 2px 1px rgba(20, 20, 40, 0.25);
    box-shadow: inset 1px 1px 2px 1px rgba(20, 20, 40, 0.25);
	
	/* border-box box sizing forces padding to not change the width of the element */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


.panel {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0 10px 10px;
}

.panel-content {
	padding: 6px;
	background-color:#fff;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.panel-header {
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background: #2d71e6;
	padding: 6px;
	color: #fff;
}
.panel-header h2 {
	font-size: 1em;
	margin: 0;
}
.inp_text,
.textarea {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#footer {
	background-color: #000;
	color: #fff;
	padding: 10px 20px;
}
